{% load static %}

{% block content %}
<style>
    @media only screen and (max-width: 768px){
        #footer-main {
            font-size: 0.875rem;
        }
    }

    @media (min-width: 768px) and (max-width: 1024px) {
       #footer-main {
            font-size: 1rem;
            flex-direction:column;
        }

        #desc-text {
            font-size: 1rem;
            margin-right: 2rem;
        }
    }

    @media screen and (min-width: 1880px) and (min-height: 1058px) {
        #footer-main {
            height: 13rem;
            font-size: 1.8rem;
        }

        #desc-text {
            font-size: 1.8rem;
        }
    }

    @media screen and (min-width: 1880px) and (max-height: 1057px){
        #footer-main {
            height: 13rem;
            font-size: 1.8rem;
        }

        #desc-text {
            font-size: 1.8rem;
        }
    }
</style>
<div id="footer" class="relative min-h-[10vh]">
        <footer id="footer-main" class="w-screen bg-[#2f3136] text-xl text-white h-[10rem] absolute bottom-0">
            <div class="container mx-auto flex justify-between items-center px-4 h-full">
                <p class="text-lg ml-14 max-[768px]:text-sm max-[768px]:ml-2" id="desc-text">&copy; 2023 Enis Gjocaj. All Rights Reserved.</p>
                <ul class="flex items-center justify-center space-x-4 mr-14 max-[768px]:space-x-2 max-[768px]:flex-col max-[768px]:mr-2">
                    <li><a href="#" class="max-[768px]:whitespace-nowrap max-[768px]:text-center">Terms of Use</a></li>
                    <li><a href="#" class="max-[768px]:whitespace-nowrap max-[768px]:text-center">Privacy Policy</a></li>
                    <li><a href="#" class="max-[768px]:whitespace-nowrap max-[768px]:text-center">Contact Us</a></li>
                </ul>
            </div>
        </footer>
</div>

{% endblock %}